$white: white;
$colors: ( primary: #6FBB7E, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, favorite: #69BB7B );
$text-color: #484848;
/**************
 Main Content
 *************/
$toolbar-background: #52945F; // $menu-background;
$toolbar-border-color: $toolbar-background;
$toolbar-text-color: $white;
$main-content-background: #F2F2F2;
/*****
Menu
******/
$menu-toolbar-background: darken($toolbar-background, 10%);
$menu-background: $white;
$menu-color: text-color;