// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/start/start";
@import "../pages/item-details/item-details";

ion-menu {
  header {
    background: $menu-toolbar-background;
    border: none;
    text-align: center;
    padding: 10px 0;

    img {
      max-width: 100px;
      max-height: 100px;
    }

    p {
      color: $white;
      font-size: 1.6rem;
      margin: 5px 0 0;
    }
  }

  ion-content {
    background: $menu-background;

    ion-list {
      .item {
        background: none;
        color: $white;
        border-top: none !important;
        border-bottom: none !important;

        &.activated {
          background: darken($menu-background, 5%);
        }
      }

      .item-inner {
        border: none;
      }
    }
  }
}

scroll-content {
  overflow-y: auto;
}