.informative-page {
  .button-font .button-inner {
    text-transform: none;
    font-size: 1.9rem;
    letter-spacing: 0.5px;
  }

  h2 {
    margin: 20px 0;
    font-weight: normal;
    font-size: 130%;
  }

  p {
    text-indent: 20px;
  }

  blockquote {
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
  }
}