.multi-bg-outer(ng-class="{ 'finish-loading': loaded }")
	img.multi-bg.helperClass(bg='', class='{{ }}', ng-src='{{ bg_img }}')
	span.bg-overlay
	ion-spinner.spinner-on-load(ng-show='!loaded')
	//span.spinner-on-load.ion-load-c(ng-show='!loaded')
	ng-transclude
