<ion-card *ngIf="loading || !event">
  <ion-card-header>
    <ion-icon name="calendar" item-left></ion-icon>
    Próximo Evento
  </ion-card-header>

  <ion-card-content text-center *ngIf="loading">
    <ion-spinner></ion-spinner>
  </ion-card-content>

  <ion-card-content *ngIf="!loading">
    Nenhum evento
  </ion-card-content>
</ion-card>

<ion-card *ngIf="!loading && event" (click)="details()">
  <ion-card-header>
    <ion-icon name="calendar" item-left></ion-icon>
    Próximo Evento
  </ion-card-header>

  <ion-card-content>
    <h2>{{event.name}}</h2>

    <div *ngFor="#date of event.dates" class="event-dates">
      <strong>{{date.beginDate | date:'EEEE'}} </strong>
      <br/>{{date.beginDate | date:"d 'de' MMMM y HH:mm"}} até {{date.endDate | date:'HH:mm'}}
    </div>
  </ion-card-content>
</ion-card>