<ion-card *ngIf="loading || !informative">
  <ion-card-header>
    <ion-icon name="list-box" item-left></ion-icon>
    Informativo
  </ion-card-header>

  <ion-card-content text-center *ngIf="loading">
    <ion-spinner></ion-spinner>
  </ion-card-content>

  <ion-card-content *ngIf="!loading">
    Nenhum informativo adicionado
  </ion-card-content>
</ion-card>

<ion-card *ngIf="!loading && informative" (click)="details()">
  <ion-card-header>
    <ion-icon name="list-box" item-left></ion-icon>
    Informativo
  </ion-card-header>

  <ion-card-content>
    {{informative.title}}
  </ion-card-content>

  <ion-item>
    <div item-right class="nowrap">
      {{informative.date | date }}
      <!-- date:'EEEE, d MMMM y' -->
    </div>
  </ion-item>
</ion-card>