<ion-card *ngIf="loading || !informative">
  <ion-card-header>
    Informativo
  </ion-card-header>

  <ion-card-content text-center *ngIf="loading">
    <ion-spinner></ion-spinner>
  </ion-card-content>

  <ion-card-content *ngIf="!loading">
    Nenhum informativo adicionado
  </ion-card-content>
</ion-card>

<ion-card *ngIf="!loading && informative" (click)="details()">
  <ion-card-header>
    Informativo
  </ion-card-header>

  <ion-card-content>
    {{informative.title}}
  </ion-card-content>

  <ion-item>
    <button primary clear item-left>
      <ion-icon name="book"></ion-icon>
      <div>Ver</div>
    </button>
    <ion-note item-right>
      {{informative.date | date }}
      <!-- date:'EEEE, d MMMM y' -->
    </ion-note>
  </ion-item>
</ion-card>