<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Agenda</ion-title>
</ion-navbar>

<ion-content *ngIf="loading">
  <ion-card>
    <ion-card-content text-center>
      <ion-spinner></ion-spinner>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="!loading" class="event-list-page">

  <ion-list>
    <ion-item *ngFor="#event of events" (click)="details(event)">

      <ion-icon name="calendar" item-left></ion-icon>
      {{event.name}}

      <ul class="event-dates">
        <li *ngFor="#date of event.dates">
          <strong>{{date.beginDate | date:'EEEE'}} </strong>
          <br/>{{date.beginDate | date:"d 'de' MMMM y HH:mm"}} até {{date.endDate | date:'HH:mm'}}
        </li>
      </ul>

    </ion-item>
  </ion-list>

</ion-content>