doctype html
html(ng-app='app')

	head
		meta(charset='utf-8')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
		meta(http-equiv='Content-Security-Policy', content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *")

		link(href='css/libs.min.css', rel='stylesheet')
		link(href='css/theme.css', rel='stylesheet')
		link(href='css/app.css', rel='stylesheet')

		script(src='js/libs.min.js')
		script(src='cordova.js')
		script(src='js/all.min.js')

	body
		ion-nav-view
