.getting-started {
  background: url('/img/background.png');
  background-size: cover;
  background-position: center;
  color: $white;
  text-align: center;

  scroll-content {
    padding-top: 50%;
  }

  h1 {
    margin-top: 5px;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }

  p {
    margin: 0 0 20px;
    line-height: 22px;
    font-size: 16px;
    color: $white;
  }

  ion-spinner {
    position: fixed;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;

    svg {
      stroke: $white;
      width: 40px;
      height: 40px;

      circle,
      line {
        stroke: $white;
      }
    }
  }
}